<!DOCTYPE html>
<html>
  <head>
    <title>后台管理系统</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <div class="logo">
        <img src="https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=2154443573,98755096&fm=27&gp=0.jpg" alt="">
      </div>
    </header>
    <div style="position: absolute;top: 0;right: 0;bottom: 0;left: 0;margin-top:64px;">
      <aside class="sider">
      </aside>
      <div class="content">
        <input type="text" id="name">
        <input type="text" id="pass">
        <input type="button" id="button" value="登录">
      </div>
    </div>
    
  <script>
  // document.querySelector('#button').addEventListener('click',() => {
  //      document.querySelector('#name')
  // })
  </script>
  </body>
</html>
